.profile-dropdown {
  position: absolute;
  top: 50px;

  width: 100px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  background-color: #FFFFAB;
}
.profile-dropdown li {
  color: #000433;
}

nav {
  position: sticky;
  top:0;

  display: flex;
  justify-content: center;
  gap: 800px;

  padding: fill;
  height: 50px;
  background-color: #000433;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav > ul > li {
  display: flex;
  transition: background-color .2s;
  background-color: #000433;
  justify-content: center;
  color: white;
  align-items: center;
  width: 100px;
}
nav > ul > li:hover {
  transition: background-color .2s;
  background-color:  rgba(37,37,77,1);
}

.nav-link-title {
  color: #Ef3E2B;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  height: 100%;
}